* {
    font-family: Georgia;

}
body {
    margin: 0;
}

header {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    background-color: lightblue;
    padding: 100px;
}

#left {
    background-color: dodgerblue;
    color: white;
    width: 20%;
    height: 220px;
}

#center, #right {
    background-color: dodgerblue;
    color: white;
    width: 40%;
    height: 220px;
    text-align: center;
}

a {
    border: 1px dashed DimGray;
    background-color: Gold;
    color: DarkRed;
    padding: 10px;
}

#lower-part {
    display: flex;
}